:root {
    --primary-color: #161B32;
    --blue-background: #A0D8F6;
    --blue-foreground: #7EC3ED;
    --orange-background: #FAC49E;
    --orange-foreground: #F6AC81;
    --green-background: #C1DFBF;
    --green-foreground: #A4D09C;
    --yellow-background: #FCEC9B;
    --yellow-foreground: #FED77B;
    --purple-background: #CAA5CE;
    --purple-foreground: #BA86BA;
    --grey-background: #D9D9D9;
    --grey-foreground: #C6C6C6;
    --red-background: #DFBFBF;
    --red-foreground: #D09C9C;
    --mythic-background: #721851;
    --mythic-foreground: #851659;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: "Poppins", Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    cursor: url("/Image/element/cursor.png"), auto;
}

.container {
    max-width: 80rem;
    margin-inline: auto;
}

.select-button {
    background-color: #161B32;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.select-button:hover {
    background-color: #444;
}

header {
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;
    width: 100%;
    font-weight: bold;
}

.btn {
    background-color: var(--primary-color);
    text-decoration: none;
    color: #fff;
    display: block;
    border: none;
    padding: 12px 25px;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn-secondary {
    background-color: white;
    color: var(--primary-color);
}

.btn:hover {
    cursor: url("/Image/element/hand_point.png"), auto;
    opacity: 0.8;
}

.rounded-0 {
    border-radius: 0;
}

.rounded {
    border-radius: .25rem;
}

.rounded-xl {
    border-radius: 100vw;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: min-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.4s;
}

.leather {
    --background: var(--orange-background);
    --foreground: var(--orange-foreground);
}

.empty,
.iron {
    --background: var(--grey-background);
    --foreground: var(--grey-foreground);
}

.gold {
    --background: var(--yellow-background);
    --foreground: var(--yellow-foreground);
}

.diamond {
    --background: var(--blue-background);
    --foreground: var(--blue-foreground);
}

.mythic {
    --background: var(--mythic-background);
    --foreground: var(--mythic-foreground);
}

label {
    font-weight: 600;
    display: block;
    margin-bottom: .25rem;
}

input, select {
    border: 2px solid var(--primary-color);
    border-radius: .25rem;
    padding: .5rem;
    display: block;
    width: 100%;
    margin-bottom: .75rem;
}
