:root {
    --primary-color: #161B32;
    --blue-background: #A0D8F6;
    --blue-foreground: #7EC3ED;
    --orange-background: #FAC49E;
    --orange-foreground: #F6AC81;
    --green-background: #C1DFBF;
    --green-foreground: #A4D09C;
    --yellow-background: #FCEC9B;
    --yellow-foreground: #FED77B;
    --purple-background: #CAA5CE;
    --purple-foreground: #BA86BA;
    --grey-background: #D9D9D9;
    --grey-foreground: #C6C6C6;
    --red-background: #DFBFBF;
    --red-foreground: #D09C9C;
    --mythic-background: #721851;
    --mythic-foreground: #851659;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    max-width: 80rem;
    margin-inline: auto;
}

.select-button {
    background-color: #161B32;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.select-button:hover {
    background-color: #444;
}

header {
    display: flex;
    justify-content: space-between;
    padding-block: 1.5rem;
    width: 100%;
    font-weight: bold;
}

.btn {
    background-color: var(--primary-color);
    text-decoration: none;
    color: #fff;
    display: block;
    border: none;
    padding: 12px 25px;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.8;
}

.btn-secondary {
    background-color: white;
    color: var(--primary-color);
}


.rounded {
    border-radius: .25rem;
}

.rounded-xl {
    border-radius: 100vw;
}








