.scroll-container {
    width: 100%;
    flex-grow: 1;
    overflow-x: scroll;
    cursor: url("/Image/element/drag_cursor.png") 16 16, auto;
}

.home::-webkit-scrollbar,
.scroll-container::-webkit-scrollbar {
    display: none;
}

.home {
    display: flex;
    gap: 1rem;
    overflow: visible;
    height: 100%;
}

.ninja-card {
    position: relative;
    z-index: 1;
    background-color: var(--blue-background);
    border: 5px solid var(--primary-color);
    border-radius: .75rem .75rem 0 0;
    flex: 0 0 25rem;
    display: flex;
    flex-direction: column;
}

.ninja-card::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    background-color: var(--blue-foreground);
    border-radius: 40rem;
}

.ninja {
    margin: 0 auto;
    width: 80%;
}

.ninja-card h2 {
    padding: 2rem 0;
    font-weight: 800;
    text-align: center;
    color: var(--primary-color);
}

.ninja-card-footer {
    background-color: var(--primary-color);
    padding: 2rem;
    flex-grow: 1;
}

.ninja-resources {
    background-color: white;
    margin-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 10px;
    padding: .5rem;
}

.ninja-resources > div {
    display: flex;
    justify-content: space-evenly;
}

.ninja-resources > div + div {
    padding-top: 1rem;
}

.ninja-resources span {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.ninja-resources img {
    width: 20px;
    height: 20px;
}

.ninja-name {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    padding: .5rem 0;
    text-transform: uppercase;
    color: var(--primary-color);
}

.ninja-card-actions {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5rem;
}

.ninja-card-empty {
    background-color: var(--grey-background);
}

.ninja-card-empty .ninja {
    filter: grayscale(1);
}

.ninja-card-empty::after {
    background-color: var(--grey-foreground);
}

label {
    display: inline-block;
    margin-top: .75rem;
}

input {
    display: block;
    border: 1px solid var(--primary-color);
    border-radius: .25rem;
    padding: .5rem;
    margin-bottom: 1.5rem;
}
