@{
    ViewData["Title"] = "Selecteer ninja";
}

<header class="container">
    <h1>NinjaManager</h1>
</header>

<div class="container home">
    @foreach (var ninja in Model)
    {
        <div class="ninja-card">
            <div class="resources">
                <div><img src="/Image/pearl_01a.png" alt="Red"> 300</div>
                <div><img src="/Image/pearl_01b.png" alt="Green"> 300</div>
                <div><img src="/Image/pearl_01c.png" alt="Blue"> 300</div>
                <div><img src="Image/pearl_01d.png" alt="Yellow"> 300</div>
            </div>
            <h2 class="ninja-name">@ninja.Name</h2>
            <img class="ninja" src="/Image/Ninjafoto.png" alt="Ninja">
            <div class="ninja-card-actions">
                <a asp-controller="Ninja" asp-action="Index" asp-route-id="@ninja.Id" class="btn btn-secondary">SELECTEER</a>
            </div>
        </div>
    }

    <div class="ninja-card ninja-card-empty">
        @if (Model.Count == 0)
        {
            <h2>NOG GEEN NINJA'S</h2>
        }
        else
        {
            <h2>NIEUWE NINJA</h2>
        }
        <img class="ninja" src="/Image/Ninjafoto.png" alt="Ninja">
        <div class="ninja-card-actions">
            <a id="open-modal-btn" class="btn btn-secondary">NINJA TOEVOEGEN</a>
        </div>
    </div>
</div>

<div id="modal">
    <div class="modal-content">
        <h2>New ninja</h2>
        <form asp-controller="Ninja" asp-action="CreateNinja" method="post">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" />

            <button type="submit" class="btn">CREATE NINJA</button>
        </form>
    </div>
</div>