.ninja-manager-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ninja-manager-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ninja-manager-header h1 {
    font-size: 2rem;
}

.ninja-manager-header nav {
    display: flex;
    gap: 1rem;
}

.ninja-manager-header nav button {
    background-color: #fff;
    color: #161B32;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.ninja-manager-header nav button:hover {
    background-color: #444;
    color: #fff;
}

.ninja-shop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    flex-grow: 1;
}

.ninja-items-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    flex: 1;
}

.ninja-item-container {
    border-radius: 1rem;
    border: 5px solid var(--primary-color);
    background: white;
    padding: .75rem;
}

.ninja-item.leather {
    --background: var(--orange-background);
    --foreground: var(--orange-foreground);
}

.ninja-item.empty,
.ninja-item.iron {
    --background: var(--grey-background);
    --foreground: var(--grey-foreground);
}

.ninja-item.gold {
    --background: var(--yellow-background);
    --foreground: var(--yellow-foreground);
}

.ninja-item.diamond {
    --background: var(--blue-background);
    --foreground: var(--blue-foreground);
}

.ninja-item.mythic {
    --background: var(--mythic-background);
    --foreground: var(--mythic-foreground);
}

.ninja-item {
    background-color: var(--background);
    border-radius: 10px;
    border: 2px solid var(--foreground);
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.ninja-item::after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 50%;
    bottom: 1rem;
    top: 4rem;
    border-radius: 20rem;
    width: 60%;
    transform: translateX(-50%);
    background: var(--foreground);
}

.rarity-name {
    color: var(--foreground);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5rem;
}

.ninja-item-details {
    background: white;
    border-radius: .25rem;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    margin: 1rem;
}


.ninja-item-img-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: end;
}

.ninja-item-img-container img {
    height: 8rem;
}

.ninja-item-name {
    background: var(--primary-color);
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5rem;
}

.ninja-item-stats {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: .5rem;
}

.ninja-item-stats span {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.ninja-item-stats img {
    width: 20px;
    height: 20px;
    display: block;
}

.ninja-card {
    background-color: #A0D8F6;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.ninja-card::after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 20rem;
    width: 60%;
    height: 80%;
    transform: translateX(-50%);
    background: var(--blue-foreground);
}

/*Create an animation of a spritesheet that has 4 images next to eachother */
@keyframes ninja-animation {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 0 0;
    }
    25.01% {
        background-position: 100% 0;
    }
    50% {
        background-position: 100% 0;
    }
    50.01% {
        background-position: 200%;
    }
    75% {
        background-position: 200%;
    }
    75.01% {
        background-position: 300%;
    }
    100% {
        background-position: 300% 0;
    }
}

.ninja-img-container {
    overflow: hidden;
}

.ninja-img-container {
    width: 100%;
    background-image: url(/Image/ninja/idle.png);
    background-size: 400%;
    animation: ninja-animation 500ms infinite;
}

.ninja-card img.ninja-img {
    display: block;
    width: 400%;
    opacity: 0;
}

.ninja-resources {
    background-color: white;
    border: 2px solid #000;
    border-radius: 10px;
    padding: .5rem;
}

.ninja-resources > div {
    display: flex;
    justify-content: space-evenly;
}

.ninja-resources img {
    width: 20px;
    height: 20px;
}

.ninja-card-filler {
    background: var(--primary-color);
    flex-grow: 1;
}
