.ninja-manager-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ninja-manager-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ninja-manager-header h1 {
    font-size: 2rem;
}

.ninja-manager-header nav {
    display: flex;
    gap: 1rem;
}

.ninja-manager-header nav button {
    background-color: #fff;
    color: #161B32;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.ninja-manager-header nav button:hover {
    background-color: #444;
    color: #fff;
}

.ninja-shop {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    width: 100%;
}

.ninja-items-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    flex: 1;
}

.ninja-item-container {
    border-radius: 1rem;
    border: 5px solid var(--primary-color);
    background: white;
    padding: 1rem;
}

.ninja-item {
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid var(--primary-color);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.ninja-item-details {
    border-radius: .75rem;
    background: white;
    border: 3px solid var(--primary-color);
}

.ninja-item h2 {
    background: var(--primary-color);
    color: white;
    font-size: 1.125rem;
}

.ninja-item img {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
}

.ninja-item.mythic {
    background-color: var(--mythic-background);
}

.ninja-item.green {
    background-color: var(--green-background);
}

.ninja-item.yellow {
    background-color: var(--yellow-background);
}

.ninja-item.orange {
    background-color: var(--orange-background);
}

.ninja-item.blue {
    background-color: var(--blue-background);
}

.ninja-item.empty {
    background-color: var(--grey-background);
}

.ninja-cost {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.ninja-cost img {
    width: 20px;
    height: 20px;
}

.ninja-card {
    background-color: #A0D8F6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
}

.ninja-card img.ninja {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.ninja-resources {
    background-color: white;
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    border: 2px solid #000;
    border-radius: 10px;

}

.ninja-resources img {
    width: 20px;
    height: 20px;
}
