@model EditorEquipmentViewModel

@{
    ViewData["Title"] = "Shop";
}

<header class="container header">
    <h1>NinjaManager</h1>
    <nav>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">HOME</a>
        <a class="btn btn-secondary" asp-controller="Editor" asp-action="Index">EDITOR</a>
    </nav>
</header>

<div class="container shop-container">
    <div style="max-width: 20rem; width: 100%">
        <form asp-action="CreateItem" method="post">
            <label for="Name">Name</label>
            <input id="Name" type="text" name="Equipment.Name" required>
            <label for="Category">Category</label>
            <select id="Category" name="Equipment.CategoryId" type="text" asp-items="@Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()))"></select>
            <label for="Rarity">Rarity</label>
            <select id="Rarity" name="Equipment.Rarity" type="text" asp-items="@Model.Rarities.Select(x => new SelectListItem(x, x))"></select>
            <label for="Price">Price</label>
            <input min="1" id="Price" name="Equipment.Price" type="number" required>
            <label for="Strength">Strength</label>
            <input min="1" id="Strength" name="Equipment.Strength" type="number" required>
            <label for="Intelligence">Intelligence</label>
            <input min="1" id="Intelligence" name="Equipment.Intelligence" type="number" required>
            <label for="Agility">Agility</label>
            <input min="1" id="Agility" name="Equipment.Agility" type="number" required>

            <button class="btn">SAVE ITEM</button>
        </form>
    </div>
</div>