@model EditorEquipmentViewModel

@{
    ViewData["Title"] = "Shop";
}

<header class="container header">
    <h1>NinjaManager</h1>
    <nav>
        <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">HOME</a>
        <a class="btn btn-secondary" asp-controller="Editor" asp-action="Index">EDITOR</a>
    </nav>
</header>

<div class="container content-background">
    <div style="max-width: 20rem; width: 100%">
        <form asp-action="Update" method="post">
            <label for="name">Name</label>
            <input id="name" type="text" asp-for="Equipment.Name">
            <label for="Category">Category</label>
            <select id="Category" asp-for="Equipment.CategoryId" asp-items="@Model.Categories.Select(x => new SelectListItem(x.Name, x.Id.ToString()))">
            </select>
            <label for="Rarity">Rarity</label>
            <select id="Rarity" asp-for="Equipment.Rarity" asp-items="@Model.Rarities.Select(x => new SelectListItem(x, x))">
            </select>
            <label for="Price">Price</label>
            <input id="Price" asp-for="Equipment.Price" type="number" min="0">
            <label for="Strength">Strength</label>
            <input id="Strength" asp-for="Equipment.Strength" type="number" min="0">
            <label for="Intelligence">Intelligence</label>
            <input id="Intelligence" asp-for="Equipment.Intelligence" type="number" min="0">
            <label for="Agility">Agility</label>
            <input id="Agility" asp-for="Equipment.Agility" type="number" min="0">

            <button class="btn">SAVE ITEM</button>
        </form>
    </div>
</div>